<a href="#" {{action 'prev'}} class="se-ctrl-btn-link">
  <img src="images/previous.svg" class="se-ctrl-btn-img se-ctrl-btn-previous">
</a>

{{#if isPlaying}}
  <a href="#" {{action 'pause'}} class="se-ctrl-btn-link">
    <img src="images/pause.svg" class="se-ctrl-btn-img se-ctrl-btn-pause">
  </a>
{{else}}
  <a href="#" {{action 'play'}} class="se-ctrl-btn-link">
    <img src="images/play.svg" class="se-ctrl-btn-img se-ctrl-btn-play">
  </a>
{{/if}}

<a href="#" {{action 'next'}} class="se-ctrl-btn-link">
  <img src="images/next.svg" class="se-ctrl-btn-img se-ctrl-btn-next">
</a>
