<section class="controls">
  {{se-control isPlaying=audioIsPlaying
               onPlay='songPlayAction'
               onPause='songPauseAction'
               onNext='songNextAction'
               onPrev='songPrevAction'}}
</section>

<section class="sidebar">
  {{se-sidebar playlists=playlists}}
</section>

<section class="content">
  audioIsPlaying: {{audioIsPlaying}}
  {{render 'audio'}}
  {{outlet}}
</section>

<section class="status"></section>
