<div class="invisible">{{render 'audio'}}</div>
<section class="controls">
  {{se-control isPlaying=audioIsPlaying
               onPlay='onSongPlay'
               onPause='onSongPause'
               onNext='onSongNext'
               onPrev='onSongPrev'}}

  {{se-display isPlaying=audioIsPlaying songInPlayer=songInPlayer}}
</section>

<section class="sidebar">
  {{se-sidebar playlists=playlists}}
</section>

<section class="content">
  {{outlet}}
</section>

<section class="status"></section>
