<div {{bind-attr class=":song-view view.isSelected view.inAlbumView"}}>
  <div class="song-star">
    <a href="#" class="song-star-link" {{action 'onSongFavoriteToggle' song}}>
      <img {{bind-attr src=view.starImage}}>
    </a>
  </div>
  <div class="song-name">
    {{song.name}}
  </div>
  {{#unless view.inAlbumView}}
    <div class="song-album">
      {{song.album.name}}
    </div>
    <div class="song-artist">
      {{song.album.artist.name}}
    </div>
  {{/unless}}
  <div class="song-duration">
    {{m-duration song.duration}}
  </div>
</div>
